 	p {
	color:#3361FF;
	font-size:20px;
	}

.listitem{
	color:yellow;
	font-size:1.4em;
}
#background{
	background-color:yellow;
/
}
#button{
	width:80px;
	height:30px;
	color:white;
	background-color:black;
	border-radius:15px;
	font-size:1.0em;
}
#banner{
	height:40px;
	width:40%;
	border:5px solid black;
	border-radius:10px;
	background-color:orange;
	text-align:center;
	color:black;
	font-size:2em;
}
.wrap-list{
	width:50%;
	border-radius:10px;
	border:7px double green;
	margin-bottom:2em;
}
.wrap-trivia{
	height:275px;
	width:150px;
	background-color:purple;
	display:inline-block;
	position:relative;
	top:200px;
	z-index:1;
	left:275;
}
#one{
	height:150px;
	width:150px;
	background-color:purple;
	display:inline-block;
	position:absolute;
	z-index:2;
}	
		#two{
		height:150px;
	width:150px;
	background-color:yellow;
	display:inline-block;
	position:relative; 
	top:200px;
	z-index:1;
	left:275px;
}
	#three{
		height:150px;
		width:150px;
		background-color:yellow;
		display:inline-block;
		position:fixed;
		left:25%;
	}
	#background-h{
		height:2048px;
	}
	.navitem{
		list-style-type:none;
		display:inline;
		margin-right:.3em;
		padding:2px 5px;
	}
	#navmenue {
text-align:center;
background-color:yellow;
color:white;
}
a.link{
	color:blue;
}
a.visited{
	color:purple;
}
a.hover{
	color:red;
}
a.active{
	color:green;
}
.rightside{
	float:right;
	width:48%;
}
.leftside{
	width:48%;
}
.clearfloat{
	clear:both;
}


